PORT=3000
GATEWAY_PORT=3000
BRAND_PORT=3001
CATEGORY_PORT=3002
PRODUCT_PORT=3003

BRAND_SERVICE_URL=http://localhost:3001
CATEGORY_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3003


DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=demo
DB_PORT=3306
DB_TYPE=mysql


DB_BRAND_NAME=demo
DB_CATEGORY_NAME=demo
DB_PRODUCT_NAME=demo