PORT=3000
GATEWAY_PORT=3000
BRAND_PORT=3001
CATEGORY_PORT=3002
PRODUCT_PORT=3003
USER_PORT=3004
CART_PORT=3005
ORDER_PORT=3006

BRAND_SERVICE_URL=http://localhost:3001
CATEGORY_SERVICE_URL=http://localhost:3002
PRODUCT_SERVICE_URL=http://localhost:3003
USER_SERVICE_URL=http://localhost:3004
CART_SERVICE_URL=http://localhost:3005
ORDER_SERVICE_URL=http://localhost:3006

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_TYPE=

DB_BRAND_NAME=
DB_CATEGORY_NAME=
DB_PRODUCT_NAME=
DB_USER_NAME=
DB_ORDER_NAME=

JWT_SECRET=just_jwt_secret_key
EXPIRATION_TIME=1h