PORT=
GATEWAY_PORT=
BRAND_PORT=
CATEGORY_PORT=
PRODUCT_PORT=

BRAND_SERVICE_URL=
CATEGORY_SERVICE_URL=
PRODUCT_SERVICE_URL=


DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_TYPE=


DB_BRAND_NAME=
DB_CATEGORY_NAME=
DB_PRODUCT_NAME=

JWT_SECRET=